[submodule "cs362_coad/cs362-coad-resources"]
	path = cs362_coad/cs362-coad-resources
	url = https://github.com/bennetthamilton/CS362/tree/main/cs362_coad
[submodule "cs362-cold-beverages-Wi2024"]
	path = cs362-cold-beverages-Wi2024
	url = https://github.com/bennetthamilton/cs362-cold-beverages-Wi2024.git
